@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: rgb(23, 33, 68, 1);
  background: radial-gradient(
    circle at -15% -15%,
    rgba(6, 152, 152, 1) 55%,
    rgba(23, 33, 68, 1) 55%
  );
  background-size: 70vw 200vh;
  background-repeat: no-repeat;
}

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bebas-neue text-info font-normal;
  }

  p {
    @apply font-poppins;
  }
}
