@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@screen sm {
  html {
    background: rgb(23, 33, 68, 1);
    background: radial-gradient(
      circle at -15% -15%,
      rgba(6, 152, 152, 1) 55%,
      rgba(23, 33, 68, 1) 55%
    );
    background-size: 70vw 200vh;
    background-repeat: no-repeat;
  }
}

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bebas-neue text-info font-normal;
  }
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-4xl;
  }
  h4 {
    @apply text-3xl;
  }
  h5 {
    @apply text-2xl;
  }
  h6 {
    @apply text-xl;
  }
  p {
    @apply font-poppins;
  }

  input {
    @apply font-poppins;
  }

  input:placeholder-shown {
    font-style: italic;
  }
}
